<section class='section'>
    <p class='title has-text-primary'>User Profile Details</p>
    <ul>
        <li>Username: {{user.username}}</li>
        <li>Email: {{user.email}}</li>
        <li>Password: {{user.password}}</li>
        <li>Role: {{user.role}}</li>
    </ul>
</section>
