{{!-- head section inject --}}
{{#section 'css'}}
    <style>
    </style>
{{/section}}

<div class='hero'>
    <p>Index Page</p>
</div>

{{!-- js section inject --}}
{{#section 'js'}}
    <script>
    </script>
{{/section}}
