<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{title}} | Node Starter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <meta name="theme-color" content="#05050c" />
    <link rel="manifest" href="/manifest.json">
    {{!-- Allow installing the app to the homescreen --}}
    <meta name="mobile-web-app-capable" content="yes">
    {{!-- Fonts --}}
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Laila|Montserrat" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Laila|Montserrat" crossorigin>
    {{!-- Font-Awesome --}}
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {{!-- app styles --}}
    <link rel='stylesheet' href='/css/app.css' />
    {{!-- page specific styles --}}
    {{{_section.css}}}
</head>

<body>
